
.create-form-container {
   background: linear-gradient(to right, #2c3e50, #4c5c68);
    height: 100vh ;
   overflow-x: hidden;
   display: flex;
   flex-direction: column;
    /* grid-template-columns: repeat(1, 1fr); */
 

}
/* This is for transition delay for stage chaning */

.section-transition-enter {
    opacity: 0;
    transform: scale(0.95);
  }
  .section-transition-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 500ms, transform 500ms;
  }
  .section-transition-exit {
    opacity: 1;
    transform: scale(1);
  }
  .section-transition-exit-active {
    opacity: 0;
    transform: scale(0.95);
    transition: opacity 500ms, transform 500ms;
  }
  
/* ---------------------------- */




h2 {
    font-family: 'Poppins', sans-serif;

    color:#ffc107 ;
      /* margin-bottom: 0.5em; */
      font-size:1.3em;
      outline: none;
      text-decoration: none;
      text-shadow: 2px 2px 8px rgba(0,0, 0, 0.8);

}
.logo-image {
    width: 2em;
}
.util-container button, .back-next-button button, .stars-container svg {
    cursor: pointer; 
    transition: background-color 0.3s; 
}


.vegan-section {
  
   min-height: 720px;
    display: flex;
    flex-direction: column;
    text-align: center;
    
    

}
.intro-text {
  margin: 20px auto;
  padding: 15px;
  border-radius: 8px;
  width: 80%;
  max-width: 600px;
}

.intro-text p {
  font-size: 16px;
  color: #ffc107;
  line-height: 1.6;
}
.vegan-button {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.name-protein {
  min-height: 720px;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    text-align: center;
    
    align-items: center;
  
  

}
.dish-name-container > input {
    margin: 20px;
    width: 400px;
    height: 30px;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.5em;
    border-radius: 5px;
    border: none;
    /* color: #fff; */
    padding: 7px 0;
    /* background: transparent; */
    transition: border-color 0.2s;
    margin-top: 70px;
    position: relative;
    
}
.cuisine-text {
  margin: 20px;
  width: 400px;
  height: 30px;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.5em;
  border-radius: 5px;
  border: none;
  /* color: #fff; */
  padding: 7px 0;
  /* background: transparent; */
  transition: border-color 0.2s;
  margin-top: 70px;
  position: relative;

}
/* this part for floating label */
.dish-name-container{
  position: relative;
  height: 50px;
}
.floating-dish-name {
    position: absolute;
    pointer-events: none;
    top: 150% ;
    left: 5%;
    transition: top 0.3s ease, left 0.3s ease;
    font-family: 'Poppins', sans-serif;
    text-shadow: 2px 2px 20px rgba(0,0, 0, 0.8);


}
.dish-name:focus+ .floating-dish-name {
    top: 100%;
    transition: top 0.3s ease, left 0.3s ease;
    font-family: 'Poppins', sans-serif;
    color: #ffc107;
    text-shadow: 2px 2px 20px rgba(0,0, 0, 0.8)

}

/* ------------------------------------------------------ */
/* cuisine floating  */

.cuisine-text-container{
  position: relative;
  height: 50px;
}
.floating-cuisine {
    position: absolute;
    pointer-events: none;
    top: 150%;
    left: 5%;
    transition: top 0.3s ease, left 0.3s ease;
    font-family: 'Poppins', sans-serif;
    text-shadow: 2px 2px 20px rgba(0,0, 0, 0.8);
}
.cuisine-text:focus+ .floating-cuisine {
    top: 100%;
    transition: top 0.3s ease, left 0.3s ease;
    font-family: 'Poppins', sans-serif;
    text-shadow: 2px 2px 20px rgba(0,0, 0, 0.8);
    color: #ffc107;
    text-shadow: 2px 2px 20px rgba(0,0, 0, 0.8);


    
}




/* -------------------------------------------------- */
.protein-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr) ;
    gap: 10px;
    justify-content: center;
    align-items: center;
    grid-template-rows: minmax(100px, auto);
    margin: 20px auto;
    margin-bottom: 0px;
  
    /* height:276.66px; */

}
.protein-grid-container {
  min-height: 276.66px;
}

.protein-button {
    border: none;
    background: none;
    width: 10em;
    height: 10em;
    box-shadow: 0 0 2px 2px rgba(69, 69, 67, 0.6), inset 0 0 8px 2px rgba(89, 89, 87, 0.6);
   
}

.protein-button.selected {
    border: 2px solid #4caf50; 
   
}

.spicy-level {
  width: 100%;
  /* z-index: 2; */
  margin-top: 40px;
   /* position: relative; */
   box-sizing: border-box;

}
.button-yes.selected {
  /* border: 1px solid #4caf50;  */
  background-color: #3e8e41;

}
.button-no.selected {
  /* border: 1px solid #4caf50;  */
  background-color: #3e8e41;

}
.protein-icon {
    width: 100px; 
    height: 90px;
    
   
}

.last-section {
   min-height: 720px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 20px;
    justify-content: center;
    /* box-shadow: 0 0 2px 2px rgba(69, 69, 67, 0.6), inset 0 0 8px 2px rgba(26, 26, 26, 0.6); */
    
}
.upload-image {
  min-height: 720px;
}
.back-next-button {
    display: flex;
    width: 100%;
    justify-content: space-between;
    /* padding-bottom: 50px; */
}
.back-next-button button {
    width: 45%;
}


textarea {
    height: 70px; 
    margin: 0 20px; 
    width: 28rem;


}
.button-yes, .button-no {
    background: #ffc107;
    color: #2c3e50; 
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.button-yes:hover, .button-no:hover {
    /* background-color: #f7f7f7;
    border-color: #bbb; */
    background: #ffda77; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); 
    transform: scale(1.05);
}


/* This section for stars */
.stars-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.empty-star {
    color: rgb(151, 146, 146);
    font-size: 50px;
}
.filled-star {
    color:#ffc107;
    font-size: 50px;
}

.stage-3-button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.upload-image{
    height: 700px;
    display: flex;
    flex-direction: column;
    text-align: center;
    /* box-shadow: 0 0 2px 2px rgba(69, 69, 67, 0.6), inset 0 0 8px 2px rgba(26, 26, 26, 0.6); */

}


/* Image upload-------------------------------------------------- */

.file-inputs-container {
    /* margin-bottom: 32px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    
  }
  
  
  
  
  .file-input-labels-noname {
    /* position: absolute; */
    top: 200px;
    /* right: 0px; */
    display: block;
    border-radius: 6px;
    color: var(--minimal-border);
    background-color: var(--minimal-background);
    width: 120px;
    height: 120px;
    transition: all 0.3s ease-in-out;
  }
  
  .file-input-labels-noname:hover {
    cursor: pointer;
  }
  .thumbnails-noname {
    width: 200px;
    height: 200px;
    border: 2px solid var(--minimal-border);
    border-radius: 6px;
  }

  /* Progress bar */

  .progress-bar-container {
    width: 100%;
    background-color: #ddd;
    margin: 20px 0;
    margin-bottom: 20px;

  }
  .progress-bar {
    height: 10px;
    background-color:#ffc107;
    
    transition: width 1s ease-in-out;
    
  }

  /* ------------------------------------- */
  /* this is the dropdown section */
  .restaurant {
    display: grid;
    grid-template-columns: repeat(2,1fr);
   /* justify-items: center; */
   margin-top: 20px;
   /* gap: 20px; */
   /* align-items: center; */
   justify-items: center;
   height: 80px;
   /* align-items: center; */
   /* justify-items: end; */

  
  }

  .restaurants-buttons-container {
    position: relative;
    display: flex;
    width: fit-content;
    justify-content: center;
    /* justify-self: left; */
  }
  .restaurant-content {
    display: none;
    position: absolute;
    background-color: #3f2020;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 10px;
    height: 3rem;

  }
  

  .restaurant-button-dropdown{
    background-color: #ffc107;
    color: white;
    height: 3rem;
    width: 10rem;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 70px;
    box-shadow: 0px 8px 16px 10px rgba(0,0,0,0.2);


  }


.dropdown {
    position: relative;
    display: flex;
    margin-top: 10px;
    width: fit-content;
    justify-content: center;
    /* align-items: center; */
    height: 63px;
  }

  .restaurant-content button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 100%;
    font-family: 'Poppins', sans-serif;
  }
  
  .restaurants-buttons-container:hover .restaurant-content {
      display: block;
      top: -300px;
  }

  /* ------------------------------------- */
 
  .drop-button {
    background-color: #ffc107;
    color: white;
    padding: 16px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    border: none;
    cursor: pointer;
    width: 140px;

  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #3f2020;
    width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    /* left:px; */
    border-radius: 10px;
  }

  .dropdown-content button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    

  }
  .dropdown-content button:hover {background-color: #ffc107}

.dropdown:hover .dropdown-content {
  display: block;
}


  .dropdown:hover .drop-button{
    background-color: #3e8e41;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); 

  }




/* animation for noti */
/* ----------------------------------------------------------- */
/* making it look like buzzzz */

@keyframes fade-in {
  0% {
    transform: rotate(0) scale(0);
    opacity: 0;
  }
  91% {
    transform: rotate(0) scale(1.1);
    opacity: 1;
  }
  92% {
    transform: rotate(0) scale(1);
    opacity: 1;
  }
  93% {
    transform: rotate(0) scale(0.9);
    opacity: 1;
  }
  94% {
    transform: rotate(0) scale(0.85);
    opacity: 1;
  }
  95% {
    transform: rotate(0) scale(1);
    opacity: 1;
  }
  96% {
    transform: rotate(0) scale(0.9);
    opacity: 1;
  }
  99% {
    transform: rotate(0) scale(0.95);
    opacity: 1;
  }
  100% {
    transform: rotate(0) scale(1);
    opacity: 1;

  }
}

.fade-in {
  animation: fade-in 0.4s ease-out both;
}


@keyframes fade-out{
  0% {
    transform: rotate(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: rotate(0) scale(0);
    opacity: 0;
  }
}

.fade-out{
  animation: fade-out 0.3s ease-in both;
}



/* ========================== */
/* ERROR DIV */
.error-div  span{
  /* height: 10x; */
  /* max-width: 404px; */
  color: red;
  /* text-transform: capitalize; */
  margin:0;
  padding: 0;
  font-size: 17px;
}
.error-div{
  height: 10px;
  /* max-width: 404px; */
  color: red;
  /* text-transform: capitalize; */
  margin:0;
  padding: 0;
  font-size: 15px;
}
.error-cuisine {
  /* margin-left: 100px; */
  position: relative ;
  bottom: 20px;
  margin: 0px;
  height: 18px;

}
* {
  /* margin: 0; */
  padding: 0;
  box-sizing: border-box; 
}

.post-dish {
    color: #2c3e50;
    background: #ffc107;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    transition: all 0.3s ease;
    /* margin-top: 10px; */
    /* margin-bottom: 10px; */
    margin: 0;
    margin-left: 10px;
   
    box-sizing: border-box;
}
.post-dish:hover {
  background: #ffda77; 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); 
  transform: scale(1.05);
}


