
.dish-detail-main{
   background: linear-gradient(to right, #2c3e50, #4c5c68);

    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    /* overflow-x: hidden; */
    
}

.dish-view-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* align-items: center; */
    margin-bottom: 0px;
    width: 1098px;
    /* margin-top: 150px; */
    gap: 30px;
}
.image-container2 {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 20px;
    width: 400px;
    height: fit-content;
    width: 400px;
    /* flex: 1; */
}

.dish-image {
    width: 400px;
    border-radius: 10px;
    height: 20rem;
    object-fit: cover;
}
.image-box {
    height:auto ;
    border-radius: 1rem;
    box-shadow:0 2rem 1.3rem rgba(0,0,0,0.7);
    transition: all 0.5s ease-in-out;
    max-width: 400px;

}



.image-box:hover {
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
}
.dish-details-container {
   
    background: linear-gradient(to right, #fafafa, #f8f8f8);
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    /* width: 100%; */
    width: 500px;
    /* margin: 20px 0; */
    /* align-items: center; */

    
}
.grid-dish-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.grid-dish-info span {
    font-weight: bold;
    text-decoration: underline;
}

.dish-details-container h3 {
    font-size: 1.7rem;
    color: #151313;
    margin-bottom: 10px;
}
.dish-info p {
    background-color: #f9f9f9;
    border: 1px solid #ddd; 
    border-radius: 5px; 
    padding: 10px; 
    margin: 5px 0; 
    font-size: 14px; 
    width: 200px;
}   

.dish-info select {
    background-color: #f9f9f9;
    border: 1px solid #ddd; 
    border-radius: 5px; 
    padding: 10px; 
    margin: 5px 0; 
    font-size: 14px; 
    width: 200px;
}
.dish-info input {
    background-color: #f9f9f9;
    border: 1px solid #ddd; 
    border-radius: 5px; 
    padding: 10px; 
    margin: 5px 0; 
    font-size: 14px; 
    width: 200px;
}
#box-description {
    background-color: #f9f9f9;
    border: 1px solid #ddd; 
    border-radius: 5px; 
    padding: 10px; 
    margin: 5px 0; 
    font-size: 14px; 
    width: 300px;
    height: 60px;
}



.comment-count-container {
    display: flex;
    
}

.comment-count-container span {
    margin-left: 5px;
}

.comment-container {
    background: linear-gradient(to right, #fafafa, #f8f8f8);
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 500px;
    margin: 20px 0;
    /* margin-bottom: 100px; */
    max-height: 500px;
    align-items: center;
    overflow-x: hidden;
    
    
    
}
.comment-container h2 {
    color: black;
    text-shadow: none;
    margin-right: 350px;
    
    
}
.comment-content {
    background-color: #fff9f9;
    border: 1px solid #ddd; 
    border-radius: 5px; 
    padding: 10px; 
    margin: 5px 0; 
    font-size: 14px; 
    width: 400px;
    height: 100px;
}
.comment-content input {
  width: 100%;
  height: 30px;
}
.user-name {
    font-weight: bold;

}

.comment-input {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.text-field {
    margin-top: 50px;
}
.input-comment-box{
    background: linear-gradient(to right, #fafafa, #f8f8f8);
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 500px;
    margin: 20px 0;
    margin-bottom: 100px;
    align-items: center;
    max-height: 300px;


}


/* animation for noti */
/* ----------------------------------------------------------- */
/* making it look like buzzzz */

@keyframes fade-in {
    0% {
      transform: rotate(0) scale(0);
      opacity: 0;
    }
    91% {
      transform: rotate(0) scale(1.1);
      opacity: 1;
    }
    92% {
      transform: rotate(0) scale(1);
      opacity: 1;
    }
    93% {
      transform: rotate(0) scale(0.9);
      opacity: 1;
    }
    94% {
      transform: rotate(0) scale(0.85);
      opacity: 1;
    }
    95% {
      transform: rotate(0) scale(1);
      opacity: 1;
    }
    96% {
      transform: rotate(0) scale(0.9);
      opacity: 1;
    }
    99% {
      transform: rotate(0) scale(0.95);
      opacity: 1;
    }
    100% {
      transform: rotate(0) scale(1);
      opacity: 1;
  
    }
  }
  
  .fade-in {
    animation: fade-in 0.4s ease-out both;
  }
  
  
  @keyframes fade-out{
    0% {
      transform: rotate(0) scale(1);
      opacity: 1;
    }
    100% {
      transform: rotate(0) scale(0);
      opacity: 0;
    }
  }
  
  .fade-out{
    animation: fade-out 0.3s ease-in both;
  }

  
  