@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


.login-form-main{
    display: flex;
    flex-direction: column;
    width: 400px;
    box-sizing: border-box;
    background: linear-gradient(to right, #2c3e50, #4c5c68);
    align-items: center;
    height: 500px;
    border-radius: 10px;
    border: 1px solid #2c3e50;

}
.login-form-main label {
 margin-bottom: 10px;
    color: #ffc107;
      
}
.form-container {
    width: 80%;
}
.login-form {
   
    width: 100%;
}
.input-login{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;

}
.login-error-div {
    height: 10px;
    margin: 0;
    pad: 0;
    color: red;
    margin-bottom: 5px;
}


.login-submit {

    color: #2c3e50;
    background: #ffc107;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    transition: all 0.3s ease;
    margin: 10px auto;
    margin-left: 100px;

   
    box-sizing: border-box;
}
.login-submit-demo {

    color: #2c3e50;
    background: #ffc107;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    transition: all 0.3s ease;
   
    box-sizing: border-box;
}

.login-submit:hover {
    background: #ffda77; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); 
    transform: scale(1.05);
  }
  .login-submit-demo:hover {
    background: #ffda77; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); 
    transform: scale(1.05);
  }
#modal-content {
    position: absolute;
    
     background: linear-gradient(to right, #2c3e50, #4c5c68);
     border-radius: 10px;
  }